{% ckan_extends %}
    {% block footer_content %}
    <div class="row">
      <div class="col-md-8 footer-links">
        {% block footer_nav %}
          <ul class="list-unstyled">
            {% block footer_links %}
              <li><h5>UK Data Service</h5><p>Funded by the Economic and Social Research Council (ESRC), the UK Data Service provides access to international, social, economic and population data.</p></li>
            {% endblock %}
          </ul>
          <ul class="list-unstyled">
            {% block footer_links_ckan %}
              {% set api_url = 'http://docs.ckan.org/en/{0}/api/'.format(g.ckan_doc_version) %}
              <li><a href="{{ api_url }}">{{ _('CKAN API') }}</a></li>
              <li><a href="http://www.ckan.org/">{{ _('CKAN Association') }}</a></li>
              <li><a href="http://www.opendefinition.org/okd/"><img src="{{ h.url_for_static('/base/images/od_80x15_blue.png') }}" alt="Open Data"></a></li>
            {% endblock %}
          </ul>
        {% endblock %}
      </div>
      <div class="col-md-4 attribution">
        {% block footer_attribution %}
		<a href="https://esrc.ukri.org/" target="_blank">
			<img class="img-resonsive center-block" src="/base/images/esrc-logo.png" width="335" alt="ESRC Logo">
		</a>
          <p>{% trans %}<strong>Powered by</strong> <a class="hide-text ckan-footer-logo" href="http://ckan.org">CKAN</a>{% endtrans %}</p>
        {% endblock %}
        {% block footer_lang %}
        {% endblock %}
      </div>
    </div>
    {% endblock %}

