{% block DCAT %}
    
    {% asset "ukdstheme/ukdstheme-js" %}
    {% asset "ukdstheme/ukdstheme-css" %}
    
    <section class="module module-narrow module-shallow license">
    {% block DCAT_title %}

        {% snippet 'snippets/mrd_popover_content.html' %}

        <h2 class="module-heading MRD_info"
            data-module="ukdstheme_popover_info"
            data-module-type="MRD_info"
            data-module-title="Machine-readable data"
            data-module-idcontent="MRD_popover_content"
        >
                <i class="fa fa-info"></i> {{ _('Machine-readable data') }}
        </h2>
    {% endblock %}
    {% block DCAT_nav %}
        <ul class="nav nav-simple">
            {% if pkg_dict.name %}
                <li class="nav-item"><a href="{{ h.url_for_static('/api/3/action/package_show?id=') }}{{pkg_dict.name}}" target="_blank">{{ _('API') }}</a></li>
            {% endif %}
            <li class="nav-item"><a href="{{ h.full_current_url() }}.xml" target="_blank">{{ _('RDF/XML') }}</a></li>
            <li class="nav-item"><a href="{{ h.full_current_url() }}.ttl" target="_blank">{{ _('Turtle') }}</a></li>
            <li class="nav-item"><a href="{{ h.full_current_url() }}.n3" target="_blank">{{ _('Notation3') }}</a></li>
            <li class="nav-item"><a href="{{ h.full_current_url() }}.jsonld" target="_blank">{{ _('JSON-LD') }}</a></li>
            <li class="nav-item"><a href="https://github.com/ckan/ckanext-dcat#overview" target="_blank">{{ _('DCAT documentation') }}</a></li>
        </ul>
    {% endblock %}
    </section>
{% endblock %}