<div class="no_display" id="MRD_popover_content">
    <span>{{ _('Machine readable data is data structured in a format that can be understood and processed by a computer. Here we provide a number of file formats for machine processing:') }}</span>
    <br/>
    <ul>
        <li>
        <span><b>{{ _('API') }}</b> {{ _('- The CKAN native RPC-style Action API that generates JSON data in CKAN native format. For more information please visit the') }} <a href="https://docs.ckan.org/en/latest/api/index.html" target="_blank">{{ _('guide') }}</a></span>
        </li>
        <li>
        <span><b>{{_('RDF')}}</b> {{ _('- The Resource Description Framework (RDF) format is a standard for description of interchanging data. It is served in different syntaxes including XML, Turtle, Notation3 and JSON-LD.') }}</span>
        </li>
    </ul>
</div>